.container
  .avatar
    = avatar(current_user.member, '46x32')

  .profil_link
    %ul.level-1.dropdown
      %li
        = link_to truncate(current_user.member.first_name, :length => 20), member_path(current_user.member.id)
        %ul.level-2
          - if current_user.role == 'admin'
            %li{:data => {:do => 'switch_view_as_user', :value => 'true'}}
              %input{:type => 'radio', :name => 'view_as_admin', :checked => is_admin}
              %a{:href=>'#'}= t('view_as_admin')

            %li{:data => {:do => 'switch_view_as_user', :value => 'false'}}
              %input{:type => 'radio', :name => 'view_as_admin', :checked => !is_admin}
              %a{:href=>'#'}= t('view_as_user')

          %li
            %a{:href => '/users/sign_out', :data => {'method' => 'delete'}}
              %i{:class=>'icon-remove icon-white'}
              = t('logout')


  %ul.main_menu
    - tabs.each do |tab|
      %li{:class => ('active' if params[:controller] == tab[:controller])}
        %a{:href => "/#{tab[:url]}"}
          %i{:class => tab[:icon]}
          = t(tab[:name])

    - if is_admin
      %li
        %a{:href => '/admin/surveys'}
          %i{:class => 'icon-ban-circle icon-white'}
          = t('admin.admin_panel')

